/* 主色 */

$main-bg:#1d6ad2; //主色

/* 头部 */

$header-height:50px; //头部高度
$header-min-width:100px; //头部左侧最小宽度

/* 左侧菜单 */

$sidebar-width:240px; //左侧菜单默认宽度
$sidebar-bg:#263238; //左侧菜单背景色
$sidebar-text-color:rgba(163, 175, 183, .9); //左侧菜单字体颜色
$sidebar-bg-hover:rgba(255, 255, 255, .02); //左侧菜单鼠标经过背景色
$sidebar-text-color-hover:rgba(255, 255, 255, .8); //左侧菜单鼠标经过字体颜色